<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Atomic</title>
  <link rel="icon" href="favicon.ico">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">

  <!-- Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="app.js" charset="utf-8"></script>
</head>

<body>

  <section class="colored-section" id="title">

    <div class="container-fluid">

      <!-- Nav Bar -->

      <nav class="navbar navbar-expand-lg navbar-dark">

          <img  class="testimonial-image"  src="logo.png">
          <a class="navbar-brand" style="  color: #373a6d; clear:left;">aTomic</a>



        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup">SignUp</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/articles">Articles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#footer">ContactUs</a>
            </li>
          </ul>

        </div>
      </nav>


      <!-- Title -->

      <div class="row">

        <div class="col-lg-6">
          <h1 class="big-heading"> we invest in knowledge....</h1>
          <form class="" action="/simon" method="post">


          <button  type="submit" class="btn btn-dark btn-lg download-button"><i class="fab fa-apple"></i> Play Simon.</button>
        <!--  <button type="button" class="btn btn-outline-light btn-lg download-button"><i class="fab fa-google-play"></i> Download</button> -->
</form>
        </div>



      </div>

    </div>

  </section>


  <!-- Features -->

    <section class="white-section" id="pricing">

      <h2 class="section-heading"><img src="ourmission.jpg" ></h2>
      <p>When we talk about the growth of the country, we take various factors into consideration and education is one of them. While most of the urban schools are getting the best of infrastructure, facilities and teachers, schools in rural areas are still struggling for quality education. Lack of teaching staff and motivation among students are two of the major reasons behind poor education quality in rural schools. 85% of the government schools are in villages, and do not get the benefit of quality education. We, at Atomic aim to provide education for the needy and spread awareness whilst reaching out to as many areas as possible. You can help us in our endeavour.</p>





    </section>


  <!-- Testimonials -->

  <section class="colored-section" id="testimonials">

    <div id="testimonial-carousel" class="carousel slide" data-ride="false">
      <div class="carousel-inner">
        <div class="carousel-item active container-fluid">
      <img  class="testimonial-image" src="teach.png" alt="">
          <h2 class="testimonial-text">Atomic is a website where college students can apply for teaching internships. Internships will include teaching underserved communities in areas where there is a lack of infrastructure, knowledge and awareness.</h2>


        </div>
        <div class="carousel-item container-fluid">


          <h2 class="testimonial-text">
            <h1 >Why Join Us</h1><br>
            <h3 >  •	Help our nation to grow and develop</h3>
            <h3 >  •	Help those who actually need it</h3>
            <h3 >  •	Help the interns to be motivated all the time</h3>
            <h3 >  •	And finally help us build a better world!</h3>
          </h2>

        </div>



        <div class="carousel-item container-fluid">
              <img  class="testimonial-image" src="howwework.png" alt="">

          <h2 class="testimonial-text">We are unique because we are Killing two birds with one stone – tackling both lack of internships and education.</h2>

        </div>


        <div  class="carousel-item container-fluid">


                  <img class="testimonial-image"  src="happy.png" alt="">

                    <h3 >  •	Internship with certificates</h3>
                    <h3 >  •	Gain teaching experience</h3>
                    <h3 >  •	Helping the needy makes for a huge source of self-motivation and self-happiness</h3>



        </div>

      </div>
      <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon"></span>
      </a>
    </div>

  </section>


  <!-- Press -->

    <section class="white-section" id="features">

      <div class="container-fluid" >


          <img src="whoweare.jpg" >

            <p> <h3>Atomic is a firm aimed towards providing access to quality education and expanding learning opportunities for the students of the underserved communities in both rural and urban areas.</h3></p>



      </div>
    </section>


  <!-- Pricing -->


  <!-- Call to Action -->

  <section class="colored-section" id="cta">

    <div class="container-fluid">
<img  src="sponsor.png" alt="">
      <h3 class="big-heading" style="  color: #373a6d;">Join as Sponsors</h3>
        <h2>If you are a sponsor:</h2>
        <h4>We can better manage the quality of education imparted and also pay the interns.</h4>

  </section>


  <!-- Footer -->

  <footer class="white-section" id="footer">

    <div class="container-fluid">

      <i class="social-icon fab fa-facebook-f"></i>
      <i class="social-icon fab fa-twitter" ></i>
      <i class="social-icon fab fa-instagram" ></i>
      <i class="social-icon fas fa-envelope"></i>
      <p>© Copyright 2019 aToMiC</p>
    </div>
  </footer>


</body>

</html>
